
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
*{
	margin:0;
	padding:0;
	list-style-type: none;
	box-sizing:border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
}

/*stacking views*/
.app{
	max-width: 30em;
	margin:auto;
	position: relative;
	background-color: #f7f7f7;
	border: 1px solid black;
}

.view{
	min-height: 100vh;
	/* display: none !important; */
}

.active{
	display: flex !important;
}


/*layout in each view*/
.view{
	display: flex;
	flex-direction:column;

}

.header{
	text-align: right;
	padding:2em 2em 2em 2em;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-content: center;
}

.main{
	flex: 1 0 auto;
	padding:1em 2em 1em 2em;

}

/*nav*/

.menu a{
	display: block;
	padding:1em;
	border-bottom:thin #ccc dotted;
	color:black;
}

/*header */
/*projects*/
.project{
	margin-bottom: 1em;
}

.project i{
  margin-right:1em;
}

.fa-plus, .fa-coffee, .fa-times{
	font-size:1.5em;
}

.fa-times{
	justify-content: flex-end;
}

.tagline{
	padding: 0 2em 0 2em;
	font-size: 1.2em;
}

.header h1{
	flex: 1 0 70%;
}


/* card project */

.card{
	background-color:#D6CBB8;
	height: 15em;
	border: none;
}

.card-title{
	text-transform: uppercase;
	font-weight: bold;
}

.text-box{
	background-color: #f7f7f7;
	height: 8em;
	border-radius: .2em;
	margin-bottom: 1em;
	padding:1em;
}

form{
	height: 30em;
}

.form-group{
	margin-bottom: 1.5em;
}

.form-group input{
	background-color: #D6CBB8;
	height: 3.5em;
}

.description textarea{
	background-color: #D6CBB8;
	height: 7em;
}

.description textarea::placeholder{
	color: black;
}

.form-group input::placeholder{
	color: black;
}

.drop{
	height: 4em;
	margin-bottom: 1.5em;
}

label{
	color: black;
}

.btn{
	padding: .2em;
	width: 100%;
	background-color:black;
	text-transform: uppercase;
	font-size: 1.5em;
}

.btn:focus{
	background-color: black;
}


